* {
    margin: 0;
    padding: 0;
}

body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    margin-bottom: 8px;
}

#sub-heading {
    width: 60%;
    margin-bottom: 8px;
}

ul {
    width: 60%;
    margin-bottom: 8px;
    padding-left: 32px;
}

#canvas {
    border: 1px solid darkgrey;
    display: flex;
    flex-wrap: wrap;
}

#canvas > div {
    width: 10px;
    height: 10px;
}

#note {
    margin-bottom: 16px;
    width: 60%;
}

#size-button {
    margin-bottom: 16px;
}